[Unit]
Description = pg_auto_failover

[Service]
WorkingDirectory=/var/lib/pgsql/12
Environment='PGDATA=/var/lib/pgsql/12/data'
Environment='PGPASSWORD=h4ckm3m0r3'
User=postgres
ExecStart=/usr/bin/pg_autoctl run
Restart=always
StartLimitBurst=0

[Install]
WantedBy=multi-user.target

